

<div style="font-size: large;color: green;margin-top: 40px;">Items Table</div>

<table mat-table [dataSource]="items" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef  > Name </th>
    <td mat-cell *matCellDef="let element" > {{element.name}} </td>
  </ng-container>

  <!-- price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef> Price </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <form #priceForm = "ngForm" (ngSubmit) = "updatePrice(i)" >
        <div>
            <mat-form-field appearance="fill">
                    <mat-select [(ngModel)] = "element.price" name ="element.price" required>
                        <mat-option *ngFor="let price of prices" [value]="price"> 
                           {{price}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button type = "submit" mat-raised-button color="primary">Save</button>
        </div>
    </form>
    </td>
  </ng-container>

  <!-- inStock -->
  <ng-container matColumnDef="inStock">
    <th mat-header-cell *matHeaderCellDef> inStock </th>
    <td mat-cell *matCellDef="let element; let i = index">  
      <section class="example-section">
        <mat-checkbox class="example-margin" [(ngModel)]="element.inStock" (click) = "element.inStock = !element.inStock;updateStock(i)">
          <span *ngIf="element.inStock">InStock</span>
          <span *ngIf="!element.inStock">not InStock</span>
        </mat-checkbox>
      </section>
    </td>
  </ng-container>

      <!-- delete Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef > delete </th>
        <td  mat-cell *matCellDef="let element; let i = index"  > 
          <div>
            <button *ngIf = "!clickDelete[i]" mat-raised-button color="accent"
            (click) = "clickDelete[i] = true"
            >Delete
            </button> 
          </div>
          <div>
            <button *ngIf = "clickDelete[i]&&!clickclose[i]" mat-raised-button color="accent"
            (click) = "delete(i); clickDelete[i] = !clickDelete[i]"
            >Click to delete
            </button> 
          </div>
          <div>
            <button *ngIf = "clickDelete[i]&&!clickclose[i]" mat-raised-button color="accent"
            (click) = "clickDelete[i] = !clickDelete[i]"
            >Cancel
            </button> 
          </div>
        </td>
      </ng-container>
  
   <!-- (mouseover)="changeText=true" (mouseout)="changeText=false" -->
      <!--*ngIf="changeText" -->


   <!-- result Column -->
   <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> Result </th>
    <td mat-cell *matCellDef="let element; let i = index">  
      <button mat-raised-button color="accent"
      (click) = "predict(i)"
      >Predict
      </button> 
        {{element.predict}}
    </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<div (mouseover)="changeText=true" (mouseout)="changeText=false">
  <span *ngIf="!changeText">Hide</span>
  <span *ngIf="changeText">Show</span>
</div>