
<div style="font-weight:bold; font-size: large;color: green;margin-top: 40px;">Customers Table</div>

<table mat-table [dataSource]="customers" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Education Column -->
  <ng-container matColumnDef="education">
    <th mat-header-cell *matHeaderCellDef> Education </th>
    <td mat-cell *matCellDef="let element"> {{element.education}} </td>
  </ng-container>

  <!-- Income -->
  <ng-container matColumnDef="income">
    <th mat-header-cell *matHeaderCellDef> Income </th>
    <td mat-cell *matCellDef="let element"> {{element.income}} </td>
  </ng-container>

  <!-- Prob -->
  <ng-container matColumnDef="prob">
    <th mat-header-cell *matHeaderCellDef> Prob </th>
    <td mat-cell *matCellDef="let element"> {{element.prob}} </td>
  </ng-container>

    <!-- Predict -->
  <ng-container matColumnDef="predict">
    <th mat-header-cell *matHeaderCellDef> Predict </th>
    <td mat-cell *matCellDef="let element; let i = index">     
      <button *ngIf = "!element.result" mat-raised-button color="accent"
      (click) = "predict(i)"
      >Predict
      </button>  
      <button *ngIf = "element.result&&!element.saved" mat-raised-button color="accent"
      (click) = "SavePredict(i)"
      >Save
      </button> 
      <p *ngIf = "element.saved"> saved </p>
    </td>
  </ng-container>

   <!-- Result -->
  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> Result </th>
    <td mat-cell *matCellDef="let element" > 
      <p *ngIf ="element.result=='yes'"  style="color:green">{{element.result}}</p>
      <p *ngIf ="element.result=='no'" style="color:red">{{element.result}}</p>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
