<mat-card>
    <h1>Add customer and prdict</h1>
    <form #customerForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Income</mat-label>
              <input matInput 
                [(ngModel)] = "income" 
                name = "income" 
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Education</mat-label>
              <input matInput 
                [(ngModel)] = "education" 
                name = "education" 
                required>
            </mat-form-field>
          </p>                                           
        <div >
            <button mat-raised-button color="primary" 
                    [disabled]="!customerForm.form.valid"
                    (click) = "Predict()"
                    >
                    Add and predict
            </button>
      </div>
      </div>
</form>
   </mat-card>

   