<mat-sidenav-container class="sidenav-container">
  <mat-sidenav *ngIf = "(authService.getUser()|async)"  #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/books" routerLinkActive="active">Books</a>
      <a mat-list-item [routerLink]="['/temperatures','London']" routerLinkActive="active">Temperatures</a>
      <a mat-list-item [routerLink]="['/classify','ccc']" routerLinkActive="active">Classify</a>
      <a mat-list-item routerLink="/api" routerLinkActive="active">Api-posts</a>
      <a mat-list-item routerLink="/customers" routerLinkActive="active">Customers</a>
      <a mat-list-item routerLink="/customerformadd" routerLinkActive="active">Customers Form Add</a>       
      <a mat-list-item [routerLink]="['/try','a']" routerLinkActive="active">Try</a>
      <a mat-list-item routerLink="/items" routerLinkActive="active">Items</a>       


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>hello</span>

      <span class = "spacer"></span>
      <a class = "whitelink" routerLink = "/signup" *ngIf = "!(authService.getUser()|async)">Signup</a>
      <a class = "whitelink" routerLink = "/login" *ngIf = "!(authService.getUser()|async)"> Login</a>
      <a class = "whitelink1" (click) = "authService.logout()" *ngIf = "(authService.getUser()|async)">Logout</a> <!-- מתבצעת הרשמה לאובסרבל מסוג אוטסרוויס ואז אם חוזר נתון מהפונקציה גאט יוזר (יש יוזר מחובר), התנאי יקבל טרו ואנחנו נראה את הקישור-->

      

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
