<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<div>
  <button mat-raised-button
  color = "primary"
  (click) = "addBookFormOpen = !addBookFormOpen">
  Add Book
  </button>
</div>

<div>
  <bookform *ngIf = "addBookFormOpen"
  (update) = "add($event)"
  (closeEdit) = "addBookFormOpen = false"
  [formType] = "'Add book'">
  </bookform>
</div>

<mat-accordion *ngIf = "(authService.getUser()|async)">
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let book of books; let i = index">
      <mat-expansion-panel-header> 
        <mat-panel-title>
            {{book.title}}
        </mat-panel-title>
        <mat-panel-description>
            {{book.author}}
        <button mat-raised-button
        color = "primary"
        (click) = "deleteBook(book.id)">
        Delete
        </button>
      </mat-panel-description>
      </mat-expansion-panel-header>
      <!--"editstate[i] = !editstate[i]": המשתנה היה חסר ערך (נאל), נוט של נאל זה טרו ולכן הערך ההתחלתי שלו יהיה טרו וכל פעם שנלחץ הערך ישתנה וכך גם ההידן שהוא תכונה של אנגולר-->
      <button mat-raised-button
        color = "primary"
        (click) = "editstate[i] = !editstate[i]"
        >
        Edit
      </button>
      <!-- העברת הנתונים מבוקס לטופס - לקובץ הקוד שלו ומשם לקובץ הטמפלט-->
      <!--(update) = "update($event)" כשמתרחש האירוע אפדייט נרצה להפעיל את הפונקציה אפדייט שהגדרנו בקובץ הקוד, מה שיש במשתנה איוונט זה מה שיש בתוך האמיט בקובץ הקוד של הטופס וזה הבוק-->
      <bookform 
        [hidden] = "!editstate[i]"
        [title] = "book.title"
        [author] = "book.author"
        [id] = "book.id"
        [formType] = "'Edit book'"
        (update) = "update($event);editstate[i] = !editstate[i]"
        (closeEdit) = "editstate[i] = !editstate[i]"

      >
      </bookform> 
            {{book.summary}}
    </mat-expansion-panel>
  </mat-accordion>

  <div class="btn-group">
    <button mat-raised-button color = "primary"
      (click) = "backPage()">
      Back page
    </button>
    <button mat-raised-button
    color = "primary"
    (click) = "nextPage()">
    Next page</button>
  </div>