<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts$ | async"> <!--ביצוע רישום לאובסרבל-->
      <mat-expansion-panel-header>
        <mat-panel-title>
            {{post.title}}
        </mat-panel-title>
      </mat-expansion-panel-header>
            {{post.body}}
    </mat-expansion-panel>
  </mat-accordion>
  