
<label id="example-radio-group-label">Pick your favorite channel</label>
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="selectedNetwork">
  <mat-radio-button class="example-radio-button" *ngFor="let network of networks" [value]=network>
    {{network}}
  </mat-radio-button>
</mat-radio-group>

<div *ngIf="selectedNetwork != 'cnn' && selectedNetwork != 'bbc'  && selectedNetwork != 'nbc' ; then warning"></div>
<ng-template #warning> warning - please choose 'cnn' , 'bbc' or 'nbc'</ng-template>

<div>
<mat-form-field style = "width:400px">
  <mat-label>text to classify</mat-label>
  <textarea matInput
            [(ngModel)] = "text"
            name = "text"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="10"
            cdkAutosizeMaxRows="50"></textarea>
</mat-form-field>
</div>
<div>
  <button mat-raised-button
  color = "primary"
  (click) = "classify()">
  Classify
  </button>
</div>

<div>
  {{category}} <img [src] = "categoryImage">
</div>