<mat-card>
    <h1>Sign Up</h1>
    <form form name="myForm" #signupForm="ngForm" (ngSubmit)="OnSubmit()"> 
        <!-- מטפל באירוע של ביצוע סמביט ngSubmit-->
        <!-- ngsubnit it function of angular and onsubmit() it function that we worte-->
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Email</mat-label>
              <input matInput placeholder="example: you@you.com"
                [(ngModel)] = "email"
                name = "email"
                type="email"
                required>
              <mat-hint>The one you really read</mat-hint>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Password</mat-label>
              <input matInput placeholder="example: 42343@@##aZ"
                [(ngModel)] = "password"  
                name = "password" 
                type = "password"
                required>
              <mat-hint>8 chracters or more</mat-hint>
            </mat-form-field>
          </p>                                       
        <div >
            <button mat-raised-button color="primary" 
                    [disabled]="!signupForm.form.valid"> <!--הכפתור יהיה לא זמין אם זה לא תקין-->
                     Sign Up
            </button>
        </div>
        <p *ngIf = "isError">{{errorMessage}}</p> <!--מציג את ההודעה רק אם איסארוור שווה לתרו-->
      </div>
    </form>
   </mat-card>
