<mat-list-item  (mouseenter) = "show()" (mouseleave) = "hide()">
  <mat-checkbox [(ngModel)]="isInInventory" (change) = "changeInventory()"></mat-checkbox>
  <span>&nbsp;</span>
  <span>&nbsp;</span>
  {{name}} {{price}} 
  <span>&nbsp;</span>
  <button  mat-raised-button  (click)="showAreYouSure()" *ngIf = "showdelete" >
      Delete
  </button>
  <button  mat-raised-button  (click)="delete()" *ngIf = "areYouSure">
      Click to delete
  </button>
  <button  mat-raised-button  (click)="hideAreYouSure()" *ngIf = "areYouSure">
      Cancel
  </button>    
  <mat-divider></mat-divider>
</mat-list-item>  
