<!--אנו רוצים שעד שהנתונים יגיעו יופיע באתר הודעה שמתבצעת טעינה-->
<p *ngIf = "!(weatherData$ | async)&&!hasError">Loading data..</p> 
<!--הנתונים לא הגיעו ולא הופיעה שגיאה-->


<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title *ngIf = "!hasError">Temperatures in {{city}}</mat-card-title>
      <mat-card-title *ngIf = "hasError">{{errorMessage}}</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
      <a routerLink="/city" routerLinkActive="active">Selecet City</a>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  
<p *ngIf = "!hasError"> the city is: {{city}}</p>
<p *ngIf = "!hasError">the temperature is: {{temperature | number:'1.0-0'}}&#176;</p>
<!-- {{(weatherData | async).temperature | number:'1.0-0'}}  האסינג מבצע את הרישום באזור של הטמפלט במקום בקובץ הקוד עם הפונקציה סבסקרייב-->
<p *ngIf = "!hasError"> the country is: {{country}}</p>
<img *ngIf = "!hasError" src="{{image}}" alt="Girl in a jacket" width="70" height="70">
<!--רוני: [src]="image"-->
<p *ngIf = "!hasError"> the latitude  is: {{lat}}</p>
<p *ngIf = "!hasError"> the longitude  is: {{lon}}</p>
<p *ngIf = "hasError">{{errorMessage}}</p>

