<mat-card>
    <h1>City Form</h1>
    <form #cityForm = "ngForm" (ngSubmit) = "onSubmit()" >
        <!--כאשר מתרחש האירוע סבמיט הפעל את הפונקציה און סבמיט שאנו יצרנו -->
        <div>
            <mat-form-field appearance="fill">
                <mat-label>City select</mat-label>
                    <mat-select place-holder = "City" [(ngModel)] = "city" name ="city" required>
                        <!-- [(ngModel)] = "city" - באופן מיידי נשלח הערך הרלוונטי לקוד, והפוך - מהקוד ישלח לפה, רלוונטי רק לשדות, פה יש את השדה סלקט-->
                        <!--we need the name = "city" for ngModel = city to work!!!-->
                        <mat-option *ngFor="let city of cities" [value]="city.name"> <!--value - to see our choice in the field-->
                            <!--בעזרת סוגריים מרובעים ניתן לקחת משתנים מתוך קובץ ה-ts -->
                         {{city.name}}
                        </mat-option>
                    </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button [disabled] = "!cityForm.form.valid" type = "submit" mat-raised-button color="primary">See temperatures for {{city}}</button>
        </div>
    </form>
</mat-card>