
<p>custome name: {{name}}</p>


<!-- <mat-form-field appearance="fill">
    <mat-label>{{result}}</mat-label>
    <mat-select [(ngModel)]="result" name ="result" (change) = "change()">
      <mat-option *ngFor="let option of options" [value]="option">
        {{option}}
      </mat-option>
    </mat-select>
  </mat-form-field> !-->
